<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="OctgnBusConnectionString"/>
    <add key="ChatQueue" value="chat_queue"/>
  </appSettings>
  <connectionStrings>
    <add name="Octgn" connectionString="host=octgn.local;username=;password="/>
  </connectionStrings>
</configuration>
